<footer>
    <div class="footer-container">
        <div class="container">
            <div class="row w-100 d-flex">
                <div class="col-sm-8 text-right text-white copy-right">
                    <p>Copyrights | Paul N @2020</p>
                </div>
                <div class="col-sm-4 text-white">
                    <a href="https://pngtree.com/free-backgrounds">free background photos from pngtree.com</a>
                </div>
                
            </div>
        </div>
    </div>

</footer>

</body>
</html>
