<% include ./_header %>
<% include ./_flash %>

<form action="/create-post" method="POST">
    <label for="username">
        Title
        <input type="text" name="title">
    </label>
    <label for="password">
        Content
        <textarea name="content"></textarea>
    </label>
    <button class="btn btn-success">Create Post</button>
</form>

<% include ./_footer %>