<% include ./_header %>
<% include ./_flash %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="create-post">
                    <form action="/create-post" method="POST">
                        <div class="form-row">
                            <div class="col">
                                <label for="title">Title</label>
                              <input type="text" class="form-control" placeholder="First name">
                            </div>
                            <div class="col">
                                <label for="image">Feature Image</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="content">Content</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button class="btn btn-success">Create Post</button>
                      </form>
                </div>

            </div>
        </div>
    </div>
</section>


<% include ./_footer %>